.loader {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(0, 183, 255);
    border-top-color: rgb(161, 161, 161);
    animation: spinAnimate 3s ease-in-out 0s infinite normal;
    position: absolute;
}   

@keyframes spinAnimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}